<p>registration-user works!</p>
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="./registration-user.component.css" />
<div style="text-align: center">
  <h1>{{ message }}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form>
        <fieldset>
          
          <legend class="text-center">
            Valid information is 
            <span class="req"><small> required*</small></span>
          </legend>

          <div class="form-group">
            <label for="username"
              ><span class="req">* </span> Username:
              <small>This will be your login user name</small>
            </label>
            <input
              required
              type="text"
              [(ngModel)]="user.username"
              name="username"
              id="username"
              class="form-control phone"
              minlength="3"
              maxlength="40"
              placeholder="Enter your Username..."
            />
            <span
              class="text-danger"
              *ngIf="
                registerForm.controls['username'].dirty &&
                registerForm.hasError('required', 'username')
              "
              >Username is required</span
            >
          </div>
          <div class="form-group">
            <label for="password"
              ><span class="req">* </span> Password:
              <small>This will be your login password</small>
            </label>
            <input
              required
              type="password"
              [(ngModel)]="user.password"
              name="password"
              id="password"
              class="form-control phone"
              maxlength="12"
              minlength="6"
              placeholder="Enter Password..."
              required
            />
            <span
              class="text-danger"
              *ngIf="
                registerForm.controls['password'].dirty &&
                registerForm.hasError('required', 'password')
              "
              >Password is required</span
            >
          </div>

          <div class="form-group">
            <label for="Email"><span class="req">* </span> Email: </label>
            <input
              class="form-control"
              type="email"
              [(ngModel)]="user.email"
              name="email"
              id="txt"
              required
              placeholder="Enter valid email address..."
            />

            <div id="errFirst"></div>
            <span
              class="text-danger"
              *ngIf="
                registerForm.controls['email'].dirty &&
                registerForm.hasError('required', 'email')
              "
              >Email is required</span
            >
          </div>

          <div class="form-group">
            <label for="MobileNumber"
              ><span class="req">* </span> Mobile number :
            </label>
            <input
              class="form-control"
              type="number"
              [(ngModel)]="user.mobilenumber"
              name="MobileNumber"
              id="txt"
              minlength="10"
              maxlength="10"
              placeholder="Enter Mobile Number..."
              required
            />
            <div id="errLast"></div>
            <span
              class="text-danger"
              *ngIf="
                registerForm.controls['mobilenumber'].dirty &&
                registerForm.hasError('required', 'mobilenumber')
              "
              >Mobile Number is required</span
            >
          </div>

          <div class="form-group">
            <label for="role"
              ><span class="req">* </span> Role :
            </label>
            <tr>
              <input
                class="form-group"
                type="radio"
                [(ngModel)]="user.role"
                name="domain"
                id="role"
                name="role"
                value="user"
              />User
              <input
                class="form-group"
                type="radio"
                [(ngModel)]="user.role"
                name="domain"
                id="role"
                name="role"
                value="admin"
              />Admin
              <input
                type="radio"
                class="form-group"
                [(ngModel)]="user.role"
                name="domain"
                id="role"
                name="role"
                value="showincharge"
              />Showincharge
            </tr>
          
          <div class="form-group1">
            <input
              class="btn btn-success"
              type="submit"
              name="submit_reg"
              value="Register"
              (click)="registerNow()"
            />
          </div>
    </div>
<img src="../../assets/body.jpeg" width="1500vw">
