/* body{
    background-image: url(../../assets/116.jpeg);
    
    background-position: top;
}  */
.container{
    background-image: url(../../assets/cc5.jpeg);
    padding: 10px;
    color: white;
    
 } 
 .text-centre{
    color: white;
 }
 .form-group{
    color: white;
 }
 









