
 /* body{
    background-image: url(../../assets/116.jpeg);
    background-repeat: no-repeat;
}  */
.container{
    background-image: url(../../assets/7111.jpeg);
 } 
 .form-group{
     background-image: url(../../assets/7111.jpeg);
 }
 .table-responsive{
     background-image: url(../../assets/7111.jpeg);
 }