
 /* body{
    background-image: url(../../assets/116.jpeg);
    background-repeat: no-repeat;
}  */
.container{
    background-image: url(../../assets/95.jpeg);
 } 
 .form-group{
     background-image: url(../../assets/95.jpeg);
     color: white;
 }
 .table-responsive{
     background-image: url(../../assets/95.jpeg);
     color: white;
 }