<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8">
        <title> A css trick </title>
        <style type="text/css">
             body{
            background-size: 100%; 
            background-color: #000; 
            color: orange;
            font-size: 18px;
            margin: 0 auto;
            text-align: center;         
            }
          
        </style> 
    </head>
    <body>
        <h1>Movie Information</h1>

        <div class="form-group">
            <label for="location"><span class="req">* </span> location: </label>
            <input required type="text" [(ngModel)]="location" name="location" id="location"
                class="form-control phone" maxlength="28" placeholder="Enter location.." />
                <input  class="btn btn-success" type="submit" name="submit_reg" value="search" (click)="searchBLocation()">>
        </div>
        <div class="form-group">
            <label for="theatrename"><span class="req">* </span> Theatre Name: </label>
            <input required type="text" [(ngModel)]="theatrename" name="theatrename" id="theatrename"
                class="form-control phone" maxlength="28" placeholder="Enter theatrename.." />
        
        <input  class="btn btn-success" type="submit" name="submit_reg" value="search" (click)="searchBTheartername()">></div>
        <div class="form-group">
            <label for="moviename"><span class="req">* </span> Movie Name: </label>
            <input required type="text" [(ngModel)]="moviename" name="moviename" id="moviename"
                class="form-control phone" maxlength="28" placeholder="Enter moviename.." />
        
       <input  class="btn btn-success" type="submit" name="submit_reg" value="search" (click)="searchBMoviename()">>
        </div>
<div class='table-responsive'>
    <table class='table'>
        
        <thead>
            <tr>
        
                <th> BookingCount |</th>
        
                <th> Date |</th>
        
                <th> MovieName | </th>

                <th> Showid |</th>

                <th> location |</th>

                <th> TheatreId |</th>

                <th> TheatreName |</th>

                <th> TotalNoofTickets |</th>
            
            </tr>
        </thead>
        <tbody>
            
<tr *ngFor="let dept of details" >
    
    <td>{{dept.bookingcount}}</td>
    <td>{{dept.date}}</td>
    <td>{{dept.moviename}}</td>
         <td>{{dept.showid}}</td>
         <td>{{dept.tet.location}}</td>
         <td>{{dept.tet.theatreid}}</td>
         <td>{{dept.tet.theatrename}}</td>
         <td>{{dept.totalnooftickets}}</td>
                
    
                
            
        </tr>
        </tbody>
    </table>
</div>
    </body>  

</html>
