.table-responsive{
   background-image: url(../../assets/95.jpeg);
   color: white;
 }
 
  /* body{
    background-image: url(../../assets/116.jpeg);
 }  */
 .container{
    background-image: url(../../assets/666c.jpeg);
    color: white;
 }
 