.table-responsive{
   background-image: url(../../assets/71.jpeg);
 }
 
  /* body{
    background-image: url(../../assets/116.jpeg);
 }  */
 .container{
    background-image: url(../../assets/7111.jpeg);
 }