<h1>{{ msg }}</h1>
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="booking.component.css" />
<div style="text-align: center">
  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form>
        <fieldset>
          <legend class="text-center">
            Valid information is
            <span class="req"><small> required*</small></span>
          </legend>

          <div class="form-group">
            <label for="noofticketsbooked"
              ><span class="req">* </span> noofticketsbooked:
            </label>
            <input
              required
              type="number"
              [(ngModel)]="book.noofticketsbooked"
              name="noofticketsbooked"
              id="noofticketsbooked"
              class="form-control phone"
              maxlength="4"
              placeholder=" Enter No of tickets booked..."
            />
            <span>No of Tickets Booked is required</span>
          </div>
          <div class="form-group">
            <label for="userid"><span class="req">* </span> userid: </label>
            <input
              required
              type="text"
              [(ngModel)]="book.userid"
              name="userid"
              id=" userid"
              class="form-control phone"
              maxlength="20"
              placeholder="Enter User ID..."
            />
            <span >User ID is required</span>
          </div>
          <div class="form-group">
            <label for="showid"><span class="req">* </span> Showid: </label>
            <input
              class="form-control phone"
              type="number"
              [(ngModel)]="book.showid"
              name="showid"
              id="showid"
              required
              placeholder="Enter Show ID..."
            />
            <span>Show ID is required</span
            >
          </div>
          <div class="form-group">
            <input
              class="btn btn-success"
              type="submit"
              name="submit_reg"
              value="Book"
              (click)="doBooking()"
            />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<img src="../../assets/body.jpeg" width="1500vw">